.holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  width: 150px; /* or auto width / fixed width used in the test case */
  height: 150px;
  font-size: 5rem;
}